fastapi
uvicorn
pandas
openpyxl
numpy
scikit-learn
httpx
statsmodels
huggingface_hub
python-multipart
matplotlib
scipy
nixtla
mlforecast
lightgbm
statsforecast
psutil>=5.9.0
gunicorn
requests
polars